
  #container{
    margin-top:40px ;
    width:900px;
    margin:0 auto;
  }

  footer{
    height: 50px;
    background-color: rgb(44, 49, 44);
    color:rgb(23, 212, 48);
    margin-top:320px;
  }
  
 
  
  
  
  
  
  