<header>
    <h1>Car Registration App</h1>
    <div class="button-container">
      <button routerLink="/welcome" mat-raised-button>Welcome Page</button>  
      <button routerLink="/home" mat-raised-button>Home</button>
      <button routerLink="/cars" mat-raised-button>Cars</button>
    </div>
</header>

<h2>Welcome to our car registration app. Here you can add new cars to our inventory so that our coleagues can keeep track of what cars we have in our inventory</h2>
<div></div>

<h3>You have 3 buttons in the header section:
<li>Home --> you can add a new car to the inventory</li>
<li>Cars --> you can verify our database and see what cars are available</li>
</h3>
<div></div>
<div></div>
<div></div>
<h3><h2>Note:</h2> App is still in progress, bugs are going to be remediated</h3>

<div><img src="../assets/poza.jpg" > </div>